<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 
	namespace: 指定当前mapper.xml管理的接口 全限定名
	注意：一个mapper.xml只能管理一个接口
-->
<mapper namespace="com.ss.springbootmybatisjsp.dao.ManagementDAO">

    <!-- 登录 -->
    <select id="loginManagement" resultType="Management">
        select id,username,realname,password,sex,salt from management
        where username=#{username}
    </select>
    <!-- 注册 -->
    <insert id="registerManagement" parameterType="Management">
        insert into management values (#{id},#{username},#{realname},#{password},#{sex},#{salt})
    </insert>


</mapper>



















