<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 
	namespace: 指定当前mapper.xml管理的接口 全限定名
	注意：一个mapper.xml只能管理一个接口
-->
<mapper namespace="com.ss.springbootmybatisjsp.dao.SectionDAO">

    <select id="showAll" resultType="Section">
        select id,seid,name from section
    </select>

    <insert id="insertSection" parameterType="Section">
        insert into section values (#{id},#{seid},#{name})
    </insert>

    <update id="updateSection" parameterType="Section">
        update section
        <set>
            <if test="seid != null">
                seid=#{seid},
            </if>
            <if test="name != null">
                name=#{name}
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>



















